.cta-btn {
  width: 100%;
  min-height: 32px;
  padding: 4px 16px;

  border-radius: 9999px;

  background-color: var(--color-button);

  font-size: 14px;
  font-weight: 700;
  color: var(--color-body);

  &:hover {
    opacity: 0.85;
  }

  &:active {
    opacity: 0.75;
  }

  &:disabled {
    pointer-events: none;
    user-select: none;

    background-color: var(--color-detail);
  }
}
